// This is the default white style


// Basic ----------------------------------------------------------------------------------

$main-background-color: #EEEEEE;


// Cards ----------------------------------------------------------------------------------

$card-background-color: #FFFFFF;
$card-border-radius: 10px;
$card-headline-color: #000000;
$card-text-color: #3F3F3F;