// This is the default white style


// Basic ----------------------------------------------------------------------------------
* {
    margin: 0;
    padding: 0;
}

.section {
    padding-left: 150px;
    padding-right: 150px;
}

$main-background-color: #EEEEEE;
$main-color: #da9b3d;
$logo-image: "@/assets/images/logo.png";
$logo-name: "OpenPress";
$logo-name-color: #000000;
$headline-color: #000000;
$text-color: #252525;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap'); // Importing Montserrat (bold, medium)
$font-family: "Montserrat", Helvetica, Arial, sans-serif;

// LatestPost Card -------------------------------------------------------------------------
$latestPost-background-gradient: linear-gradient(0, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
$latestPost-background: rgba(0, 0, 0, 0.6);
$latestPost-border-radius: 10px;
$latestPost-headline-color: #FFFFFF;
$latestPost-description-color: #E2E2E2;

// SearchBar ----------------------------------------------------------------------------------
$searchBar-background-color: #ffffff;
$searchBar-input-border-color: #E2E2E2;
$searchBar-input-color: #3F3F3F;
$searchBar-button-color: #FFFFFF;
$searchBar-button-background-hover: rgb(204, 149, 65);
$searchBar-border-radius: 8px;

// Cards ----------------------------------------------------------------------------------
$card-width: 355px;
$card-background-color: #FFFFFF;
$card-border-radius: 10px;
$card-headline-color: #000000;
$card-text-color: #3F3F3F;
$card-icon-color: #000000;
$card-tag-color: #da9b3d6b;


// Card grid ----------------------------------------------------------------------------------
$grid-gap: 22px;

// Navbar ----------------------------------------------------------------------------------
$navbar-color: transparent;
$navbar-border-color: #E2E2E2;
$navbar-links-color: #3F3F3F;
$navbar-links-hover-color: #000000;
$navbar-link-active-color: #da9b3d;


// SubscribeForm ----------------------------------------------------------------------------------
$subscribeForm-card-background: #FFFFFF;
$subscribeForm-headline-color: #000000;
$subscribeForm-input-border: 1px solid #E2E2E2;
$subscribeForm-text-color: #3F3F3F;
$subscribeForm-button-color: #FFFFFF;
$subscribeForm-button-background-hover: rgb(204, 149, 65);
$subscribeForm-icon-color: #000000;
$subscribeForm-error-color: #F5365C;
$subscribeForm-border-radius: 8px;

// Footer ----------------------------------------------------------------------------------
$footer-color: #da9b3d;
$footer-title-color: #ffffff;
$footer-copyright-link-color: #ffffff;
$footer-text-color: #E2E2E2;
$footer-link-hover-color: #ffffff;
$footer-line-background: #E2E2E2;
